  <table width="180" border="0" cellpadding="0" cellspacing="0"
         class="infotable">
    <tr class="infotable-head">
      <td align="center" colspan="2">Secure Login
      Information</td>
    </tr>
    <tr class="infotable-odd">
      <td width="27"><%= link_to image_tag("sidearrowodd.jpg",:border=>0) -%>
      </td><td width="100%"><u>Features</u>
      </td>
    </tr>
    <tr class="infotable-even">
      <td width="27"><%= link_to image_tag("sidearroweven.jpg",:border=>0) -%>
      </td><td width="100%"><u>Security
      Information</u></td>
    </tr>
    <tr class="infotable-odd">
      <td width="27"><%= link_to image_tag("sidearrowodd.jpg",:border=>0) -%>
      </td><td width="100%"><u>FAQs</u>
      </td>
    </tr>
    <tr class="infotable-even">
      <td width="27"><%= link_to image_tag("sidearroweven.jpg",:border=>0) -%>
      </td><td width="100%"><u>Lost
      Tokens</u></td>
    </tr>
    <tr class="infotable-odd">
      <td width="27"><%= link_to image_tag("sidearrowodd.jpg",:border=>0) -%>
      </td><td width="100%"><u>Contact
      Us</u></td>
    </tr>
  </table>
